<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.unit-tracker.sheridan</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/wycliff/Documents/unit_tracker/.venv/bin/python</string>
        <string>/Users/wycliff/Documents/unit_tracker/main.py</string>
        <string>sheridan</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/wycliff/Documents/unit_tracker</string>
    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Hour</key>
            <integer>0</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
        <dict>
            <key>Hour</key>
            <integer>12</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/wycliff/Documents/unit_tracker/launchd.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/wycliff/Documents/unit_tracker/launchd.log</string>
</dict>
</plist>
